.spotify-emb {
    width: 80%;
    height: 25rem;
}

.mainwrap {
    background-color: #DFD7BF;
    opacity: 1;
    background-image: radial-gradient(#3C2A21 0.65px, transparent 0.65px), radial-gradient(#3C2A21 0.65px, #DFD7BF 0.65px);
    background-size: 26px 26px;
    background-position: 0 0, 13px 13px;
}


.volume-slider {
    width: 300px;
    height: 3px;
    border-radius: 2px;
    background: #1A120B;
    outline: none;
    -webkit-appearance: none;
  }
  
  .volume-slider::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1A120B;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .popup-content{
    border-radius: 5px;
  }