* {
    background-color: #EAD7BB;
    color: #1A120B;
}

.title {
    font-family: 'Leckerli One', cursive;
    font-size: 3rem;
    margin: 0%;
}

.subtitle {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2rem;
}